<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="row clarify">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h1>
                    公交信息管理系统
                </h1>
                <p>
                    欢迎使用!
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="index">进入</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>