<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理站点</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script>
        function delCheck() {
            return confirm("确认删除吗?");
        }
        function insStation() {
            var name=document.getElementById("insName");
            var city=document.getElementById("insCity");
            var lng=document.getElementById("insLng");
            var lat=document.getElementById("insLat");

            var regLng = /^(\-|\+)?(((\d|[1-9]\d|1[0-7]\d|0{1,3})\.\d{0,6})|(\d|[1-9]\d|1[0-7]\d|0{1,3})|180\.0{0,6}|180)$/;
            var lngExp = new RegExp(regLng);

            var regLat = /^[\-\+]?((0|([1-8]\d?))(\.\d{1,10})?|90(\.0{1,10})?)$/;
            var latExp = new RegExp(regLat);

            if(name.value.length===0){
                alert('站点名为空！');
                name.focus();
                return false;
            } else if(city.value.length===0){
                alert('城市名为空！');
                city.focus();
                return false;
            } else if (lng.value.length!==0&&!lngExp.test($("input[id='insLng']").val())){
                alert('经度格式错误,-180至180,最多6位小数,或者为空!') ;
                lng.focus();
                return false;
            } else if (lat.value.length!==0&&!latExp.test($("input[id='insLat']").val())){
                alert('纬度格式错误,-90至90,最多6位小数,或者为空!') ;
                lat.focus();
                return false;
            } else {
                $.ajax({
                    type:"POST",
                    url:"http://127.0.0.1:8081/station",
                    data:{"sta_Name" : name.value,"sta_City" : city.value,"sta_Lng" : lng.value,"sta_Lat" : lat.value},
                    dataType:"text",
                    success:function(data) {
                        alert(data);
                        if (data==="success") {
                            window.location.reload();
                        }
                    },
                    error:function(data) {
                        alert("Msg:"+data);
                    }
                })
            }
        }
    </script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" th:href="@{/}">欢迎页面</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/index}" >首页</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/logout}" >注销登录</a>
        </li>
    </ul>
</nav>

<div class="container-fluid" style="margin-top: 80px">
    <div class="row">
        <div class="col-sm-2">
            <a th:href="@{/user/list}" class="list-group-item">用户管理</a>
            <a th:href="@{/bus/list}" class="list-group-item">车辆管理</a>
            <a th:href="@{/station/list}" class="list-group-item active">站点管理</a>
            <a th:href="@{/line/list}" class="list-group-item">线路管理</a>
            <a th:href="@{/admin/list}" class="list-group-item">管理员</a>
        </div>
        <!--左边菜单栏-->
        <div class="col-sm-10">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">主页</li>
                <li class="breadcrumb-item active">站点信息</li>
            </ol>

            <div class="table-responsive">
                <table class="table table-hover table-condensed">
                    <legend>
                        <strong>站点列表</strong>
                    </legend>
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>站点ID</th>
                        <th>站点名</th>
                        <th>城市名</th>
                        <th>经度</th>
                        <th>纬度</th>
                        <th>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
                            <div class="modal fade" id="myModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">站点添加</h4>
                                        </div>
                                        <div class="modal-body">

                                            <div class="row">
                                                <div class="col-lg-6 form-group">
                                                    <label for="insName">站点名</label>
                                                    <input type="text" id="insName"  class="form-control" />
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label for="insCity">城市名</label>
                                                    <input type="text" id="insCity" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 form-group">
                                                    <label for="insLng">经度</label>
                                                    <input type="number" id="insLng" class="form-control" />
                                                </div>
                                                <div class="col-lg-6 form-group">
                                                    <label for="insLat">纬度</label>
                                                    <input type="number" id="insLat" class="form-control" />
                                                </div>
                                            </div>
                                            <button class="btn btn-primary"  onclick="insStation()">确定</button>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-default" data-dismiss="modal" type="button">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="station,stationStat:${stations}">
                        <td th:text="${stationStat.count}"></td>
                        <td th:text="${station.getStationID()}"></td>
                        <td th:text="${station.getSta_Name()}"></td>
                        <td th:text="${station.getSta_City()}"></td>
                        <td th:text="${station.getSta_Lng()}"></td>
                        <td th:text="${station.getSta_Lat()}"></td>
                        <td>
                            <form th:action="@{/station/{stationID}(stationID=${station.getStationID()})}" method="post">
                                <button  class="btn btn-sm btn-secondary"  type="submit" >修改</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/station/{id}(id=${station.getStationID()})}" method="post" onsubmit="return delCheck()">
                                <input type="hidden" name="_method" value="delete">
                                <button class="btn btn-sm btn-danger">删除</button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="1"><p th:text="'第' + ${page.pageNum} + '页'"></p></td>
                        <td><a th:href="@{/station/list(page=1)}">首页</a></td>
                        <td><a th:href="@{/station/list(page=${page.nextPage})}">下一页</a></td>
                        <td><a th:href="@{/station/list(page=${page.prePage})}">上一页</a></td>
                        <td><a th:href="@{/station/list(page=${page.lastPage})}">末页</a></td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
</body>
</html>